<ion-header>
  <ion-toolbar>
    <ion-title>Haptics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Haptics does not have web implementation.</p>
  <ion-button (click)="hapticsImpact()">hapticsImpact</ion-button>
  <ion-button (click)="hapticsImpactMedium()">hapticsImpactMedium</ion-button>
  <ion-button (click)="hapticsImpactLight()">hapticsImpactLight</ion-button>
  <ion-button (click)="hapticsVibrate()">hapticsVibrate</ion-button>
  <ion-button (click)="hapticsSelectionStart()">hapticsSelectionStart</ion-button>
  <ion-button (click)="hapticsSelectionChanged()">hapticsSelectionChanged</ion-button>
  <ion-button (click)="hapticsSelectionEnd()">hapticsSelectionEnd</ion-button>
</ion-content>